.about__title {
  width: 100%;
  font-size: 1.27rem;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

.about__title a:hover {
  color: white;
}

.about__title a {
  text-decoration: none;
  color: black;
  font-family: "futura", sans-serif;
}

.about_page {
  justify-content: flex-start;
}

.select_lang button:nth-child(1) {
  color: white;
}

.selfie {
  max-width: 30vh;
  margin-top: 0.5rem;
}

.about__content {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: justify-all;
  width: 46vh;
}

.ita {
  display: none;
}
