.holygrain__title {
  width: 100%;
  font-size: 1.27rem;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

.holygrain__title a:hover {
  color: white;
}

.holygrain__title a {
  text-decoration: none;
  color: black;
  font-family: "futura", sans-serif;
}

.holygrain_page {
  justify-content: flex-start;
}

.holygrain__video {
  height: 0;
  overflow: hidden;
  padding-top: calc(459 / 1080 * 100%);
  position: relative;
  width: 75%;
}
iframe {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
}
