@import "./reset.css";
@import "./index.css";
@import "./holygrain.css";
@import "./about.css";

@font-face {
  font-family: "futura";
  src: url("../font/Futura.eot");
  src: url("../font/Futura.woff") format("woff"),
    url("../font/Futura.tff") format("tff");
}
